<h1>Рецепты</h1>
<br>
<div class = "image-block">
<div class = "container">
  <div class = "row">
      <div class="col-md-4">
         <%= image_tag asset_path "churros-2188872_1920" %>
        </div>
        <div class="col-md-4">
           <%= image_tag asset_path "burger.jpg", class: "image-thumbnail thumb" %>
          </div>
          <div class="col-md-4">
             <%= image_tag asset_path "pizza.jpg", class: "image-thumbnail thumb" %>
            </div>

  </div>
</div>
</div>
<br><br><br><br><br><br><br>

<div class="container">
  <div class="row">
<% @post.each do |post| %>
         <div class="col-md-4">
           <h2><%=post.title %></h2>
           <p><%=post.body %></p>
           <section class = 'post-summary clearfix'>
            <p><%= image_tag post.image.url(:thumb), class: 'image-thumbnail thumb' if post.image? %></p>
            </section>
               <br>
             <%= link_to "Чтитать все", post_path(post), :class => 'btn btn-secondary' %>
         </div>

       <br>
       <% end %>
</div>
     </div>
    <hr>
